<link href="//cdn.muicss.com/mui-0.10.3/css/mui.min.css" rel="stylesheet" type="text/css" />
<script src="//cdn.muicss.com/mui-0.10.3/js/mui.min.js"></script>

<nav>
  <span class="nav">
    <div class="nav-left">
      <a href="/">
        <img id="logo"
        src="https://i.etsystatic.com/34711428/r/il/9c16cb/4756246624/il_fullxfull.4756246624_88x2.jpg">
        </img>
      </a>
      <form class="searchbar" , id="search-form" , action="/search:searchInput" , method="POST">
        <input id="search-text" placeholder="Looking for a Quack?"></input>
        <button class="searchbar" , id="search-btn" , type="submit">
          Search
        </button>
      </form>
    </div>

    <% if(user){ %>
      <script>
        window.userId = "<%= user %>"
      </script>
      <div class="nav-right-logged">
        <a href="/profiles/<%= user %>">
        <img id="user-pfp"></img>
        <div id="user-name">@</div>
      </a>
      </div>
      <% } else{ %>
        <div class="nav-right-unlogged">
          <form class="login" , id="login-form" , action="/login" , method="POST">
            <input id="login-user" , type="text" , placeholder="email" name="email"></input>
            <input id="login-password" , type="password" , placeholder="password" name="password"></input>
            <button class="login mui-btn mui-btn--primary mui-btn--raised" , id="login-btn" , type="submit">
              Login
            </button>
          </form>

          <form class="register" , id="register-form" , action="/users/" , method="POST">
            <input id="register-user" , type="text" , placeholder="@duqname" name="name"></input>
            <input id="register-email" , type="email" , placeholder="email address" name="email"></input>
            <input id="register-password" , type="password" , placeholder="password" name="password"></input>
            <button class="register" , id="register-btn" , type="submit">
              Register
            </button>
          </form>
        </div>
        <% } %>
  </span>
</nav>

<script src="/scripts/header.js"></script>