<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <span class="nav">
      <h1 id="logo">DDQ</h1>
      <form class="searchbar" , action="/search:searchInput" , method="POST">
        <button class="searchbar" , id="search-button" , type="submit">
            Search
          </button>
      </form>
      <div class="nav-right">
        <aside class="nav-aside">
          <sansBold>Write</sansBold>&#160a new tweet
        </aside>
        <i class="fa-solid fa-angles-down fa-bounce fa-lg"></i>
      </div>
    </span>
  </nav>
</body>
</html>
