<!DOCTYPE html>
<html lang="en">

<head>
  <title>Edit Profile</title>
  <%- include('./partials/_head'); %>
    <!-- House Sheets -->
    <link rel="stylesheet" href="/styles/resource.css" />
    <link rel="stylesheet" href="/styles/edit-profile.css" />
</head>

<body>
  <%- include('./partials/_header'); %>
    <section class="ep-top">
      <section class="ep-img">
        <img class="ep-pfp"
          src="https://t3.ftcdn.net/jpg/01/06/13/54/360_F_106135410_hai531zdSrXxSDDuXvtbLtpslpDgb1d9.jpg">
          <form class="edit-img" action="/img" method="POST">
            <button class="ep-img-btn mui-btn mui-btn--small mui-btn--primary" type="submit">Edit pfp</button>
          </form>
      </section>


      <section class="ep-img-aside">
        <form class="ep-name" action="/name" method="POST">
          <div class="ep-name-text">Devvy Duq</div>
          <input class="ep-edit-name" placeholder="Edit Name"></input>
          <button class="ep-name-btn mui-btn mui-btn--small mui-btn--primary" type="submit">Edit Name</button>
        </form>

        <section class="ep-pronouns" action="/pronouns" method="POST">
          <div class="ep-pronouns-text">quack/honk</div>
          <input class="ep-edit-pronouns" placeholder="Edit Pronouns"></input>
          <button class="ep-pronouns-btn mui-btn mui-btn--small mui-btn--primary" type="submit">Edit Pronouns</button>
        </section>

        <div class="ep-user-name">@duqname</div>
      </section>
    </section>

    <section class="ep-bottom">
      <section class="ep-bio">
        <form class="edit-bio" action="/bio" method="POST">
        <div class="ep-bio-head">
          Edit Bio:
          <button class="ep-bio-btn mui-btn mui-btn--small mui-btn--primary" type="submit">Update</button>
        </div>


        <textarea
          class="ep-bio-text">Ducks are a group of species of water birds – relatively small in size and with shorter necks than their close cousins of swans and geese. Along with their longer necked cousins, they make up the biological family of Anatidae.</textarea>
        </form>

          <form class="ep-password" action="/password" method="POST">
            <div class="ep-password-head">
              Change Password:
            </div>
            <div class="ep-password-bottom">
              <input class="ep-edit-password" placeholder="New Password"></input>
              <button class="ep-password-btn mui-btn mui-btn--small mui-btn--primary" type="submit">Update</button>
            </div>
          </form>
      </section>
    </section>

    <%- include('./partials/_scripts'); %>
    <script src="/scripts/profile.js"></script>
</body>

</html>
