<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('./partials/head'); %>
    <!-- House Sheets -->
    <link rel="stylesheet" href="/styles/resource.css" />
    <link rel="stylesheet" href="/styles/home.css" />
</head>

<body>
  <%- include('./partials/header'); %>
    <div class="box"><%- include('./partials/resource'); %></div>

    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/resources.js"></script>
</body>

</html>
