<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('./partials/head'); %>
</head>

<body>
  <%- include('./partials/header'); %>
  <h1>Have fun! 🥔</h1>
  <!-- temporary -->
  <form class="form-center" action="/users/" method="POST">
    <div class="form-group mb-2">
      <label for="name">Username:</label>
      <input
        class="form-center"
        type="text"
        name="name"
        placeholder="Username"
        style="width: 300px; margin: 1em"
      />

      <label for="email">Email:</label>
      <input
        class="form-center"
        type="email"
        name="email"
        placeholder="username"
        style="width: 300px; margin: 1em"
      />

      <label for="password">Password:</label>
      <input
        class="form-center"
        type="password"
        name="password"
        placeholder="password"
        style="width: 300px; margin: 1em"
      />
      <button type="submit" class="btn btn-primary">Register</button>
    </div>
  </form>
  <!-- /temporary -->

  <div class="resource">
    <img id="resource-img" src="https://i.etsystatic.com/34711428/r/il/9c16cb/4756246624/il_fullxfull.4756246624_88x2.jpg"></img>
    <section class="resource-info">
      <h2>Resource Title</h2>
      <h4> { URL }</h4>
      <h3>@duqname</h3>
      <textarea id="resource-desc">
        Description
      </textarea>
      <section class="resource-info" id="r-i-footer">
        <label for="rating">Rating</label>
        <label for="likes">Likes</label>
      </section>
    </section>
  </div>
</body>

</html>
