<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('./partials/head'); %>
    <!-- House Sheets -->
    <link rel="stylesheet" href="/styles/resource.css" />
    <link rel="stylesheet" href="/styles/profile-page.css" />
</head>

<body>
  <%- include('./partials/header'); %>
  <section class="pfp-main">
    <section class="pfp-left">

    </section>

    <section class="pfp-right">
      <%- include('./partials/resource'); %>
    </section>
  </section>

</body>

</html>
