<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('./partials/head'); %>
    <!-- House Sheets -->
    <link rel="stylesheet" href="/styles/resource.css" />
    <link rel="stylesheet" href="/styles/profile-page.css" />
</head>

<body>
  <%- include('./partials/header'); %>
  <section class="pfp-main">
    <section class="pfp-left">

    </section>

    <section class="pfp-right">
      <div class="resource">
        <img class="resource-img"
          src="https://i.etsystatic.com/34711428/r/il/9c16cb/4756246624/il_fullxfull.4756246624_88x2.jpg"></img>
        <section class="resource-info">
          <div class="resource-title">Resource Title</div>
          <div class="resource-url"> { URL } display for now, anchor to title later</div>

          <p class="resource-description">
            The man said "No, we just sell lemonade
            But it’s cold and it's fresh, and it’s all home-made...
          </p>

          <section class="r-i-footer">
            <div class="resource-rating">Rating</div>
            <div class="likes">Likes</div>
          </section>
        </section>
      </div>
    </section>
  </section>

</body>

</html>
