<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('./partials/head'); %>
    <!-- House Sheets -->
    <link rel="stylesheet" href="/styles/resource.css" />
    <link rel="stylesheet" href="/styles/search-results.css" />
</head>

<body>
  <%- include('./partials/header'); %>
  <div class="sr-head">Your Results: (turn into: 'results for ${search input}')</div>
  <%- include('./partials/resource'); %>
</body>

</html>
