<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('./partials/head'); %>
    <!-- House Sheets -->
    <link rel="stylesheet" href="/styles/resource.css" />
    <link rel="stylesheet" href="/styles/view-resource.css" />
</head>

<body>
  <%- include('./partials/header'); %>
    <section class="vr-main">

      <div class="box"><%- include('./partials/resource'); %></div>

      <section class="vr-comments">
        <section class="vr-comments-top">
          <div class="vr-comments-header">Comments:</div>
        </section>

        <section class="vr-comments-bottom" id="comments-container">
          <section class="vr-comments-box">
            <section class="vr-comments-user">
              <img id="user-pfp"
                src=""></img>
              <div id="user-name">@thisDuck</div>
            </section>

            <div class="vr-comment-body">Quack quack quack</div>

            <div class="vr-comments-date">2023-10-26</div>
          </section>
        </section>
      </section>
    </section>

    <script>
      window.resourceId = "<%= resourceId %>";
    </script>
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/resourceById.js"></script>
    <script src="/scripts/comments.js"></script>
</body>

</html>
