<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('./partials/head'); %>
    <!-- House Sheets -->
    <link rel="stylesheet" href="/styles/resource.css" />
    <link rel="stylesheet" href="/styles/view-resource.css" />
</head>

<body>
  <%- include('./partials/header'); %>
  <section class="vr-main">
      <%- include('./partials/_resourceById'); %>

      <section class="vr-comments">
        <section class="vr-comments-top">
          <div class="vr-comments-header">Comments:</div>
        </section>
  
        <section class="vr-comments-bottom">
          <form id="vr-create-comment">
            <section class="vr-c-c-user">
              <img class="vr-c-c-user-pfp"
              src="https://t3.ftcdn.net/jpg/01/06/13/54/360_F_106135410_hai531zdSrXxSDDuXvtbLtpslpDgb1d9.jpg">
            <div class="vr-c-c-user-name">@duqname</div>
            </section>
  
            <section class="vr-c-c-bottom">
            <textarea class="vr-c-c-body" placeholder="What do you have to quack about?" rows="5" maxlength="240"></textarea>
  
            <button id="vr-c-c-btn" type="submit">Honk!</button>
            </section>
          </form>
  
          <section class="vr-comments-box" id="comments-container">
            <section class="vr-comments-user">
              <div class="comments-user-name" id="user-name">@thisDuck</div>
            </section>

            <div class="vr-comments-body">Quack quack quack</div>

            <div class="vr-comments-date">2023-10-26</div>
          </section>
        </section>
      </section>
    </section>
  </section>

    <script>
      window.resourceId = "<%= resourceId %>";
    </script>
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script src="/scripts/app.js"></script>
    <script src="/scripts/resourceById.js"></script>
    <script src="/scripts/comments.js"></script>
</body>

</html>
