@import './partial';

nav {
  height: 15vh;
  width: 100%;
  @include background_nav;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;

  span {
    width: 100vw;
    @include flex-row($justify: space-between);
    align-items: center;

    .nav-left {
      height: fit-content;
      width: 30%;
      margin-inline-start: 1rem;
      @include flex-row($justify: space-between);

      .logo-container {
        @include flex-column($align: center);

        #logo {
          height: 4rem;
          width: 4rem;
        }

        #DDQ {
          font-weight: 600;
          color: $color_tertiary;
        }
      }

      .searchbar {
        height: 4rem;
        width: 70%;
        margin-top: .5rem;
        @include flex-column($align: center);
        justify-content: center;
        #search-text {
          height: 1.75rem;
          width: 100%;
          margin-bottom: .1rem;
          display: flex;
          align-items: flex-start;
        }

        #search-btn {
          height: 1.75rem;
          width: 50%;
          display: flex;
          align-items: center;
        }
        #search-btn {
          @include button_primary;
        }
      }
    }

    .nav-right-unlogged {
      margin-inline-start: 6rem;
      margin-inline-end: 1rem;
      font-size: 1rem;
      @include flex-column($align: flex-end);
      justify-content: space-evenly;

      .login,
      .register {
        height: 1.5rem;
        margin: .1rem;
        @include flex-row($justify: space-evenly);
        align-items: center;

        #login-user, #login-password, #register-user, #register-email, #register-password {
          margin: .1rem;
        }

        #login-btn, #register-btn, #logout-btn {
          @include button_primary;
        }
      }

    }

    .nav-right-logged {
      border: $border;
      width: 20%;
      margin: 1rem;
      @include flex-row($justify: space-between);
      align-items: center;

      .user-container {
        @include flex-row($justify: space-between);
      align-items: center;

        #user-pfp {
          height: 3rem;
          width: 3rem;
          margin: .2rem;
        }

        #user-name {
          margin: .2rem;
          background-color: rgba(199, 227, 251, 0.859);
          font-size: medium;
          text-decoration: none;
        }
      }
    }
  }
}
