// variables
$font-family_main: 'Roboto', sans-serif;

$color_primary: #538cff;
$color_secondary: #ffcd67;
$color_tertiary: #ff6799;
$color_accent: #67ffcd;
$color_error: #b22222;
$color_border: #001b53;
$color_dim: #d5a951;

$background_primary: #7ba6ff;
$background_blue: #4056a1;
$background_yellow: #ffd581;

$border: $color_border solid .1rem;


// @include
@mixin emphasize() {
  font-family: $font-family_main;
  font-weight: 500;
}

@mixin flex-column($align: center) {
  display: flex;
  flex-direction: column;
  align-items: $align;
}

@mixin flex-row($justify: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
}

@mixin background_nav() {
  background-color: $background_yellow;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-zebra-3d.png");
}

@mixin background_main() {
  background-color: $background_blue;
  background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
}

@mixin background_resource {
  background-color: #ffedc9;
  background-image: url("https://www.transparenttextures.com/patterns/nice-snow.png");
}

@mixin button_primary() {
  @include flex-column($align: center);
  justify-content: center;
  background-color: $color_primary;
  font-size: small;
}

@mixin border_primary () {
  border: $border;
  border-radius: 1rem;
}
