@import './partial';
@import './header';

* {
	box-sizing: inherit;
	font-family: $font-family_main;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;

  @include background_main;
}
