@import './partial';

.pfp-main {
  @include flex-row($justify: normal);

  .pfp-left {
    width: 40%;

    
  }

  .pfp-right {
    width: 60%;

    .resource {
      width: 100%;

      .resource-user-info {
        display: none;
      }

      .resource-description {
        display: none;
      }
    }
  }
}
