@import './partial';

.sr-head {
  border-bottom: .2rem solid $color_secondary;
  width: 80%;
  margin: 1rem;
  @include flex-row($justify: space-between);
  font-size: x-large;
  @include emphasize();
}

.box {
  width: 90%;

  .resources-container {
    width: 100%;
    padding: .2rem;
    display: inline-grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: .5rem;
  }

  .mui-container {
    border: $color_border solid .1rem;
    border-radius: 1rem;
  }

  .resources:hover {
    box-shadow: 0.4rem .25rem $background_blue;
  }
}

