@import './partial';

.vr-main {
  width: 95vw;
  @include flex-column($align: flex-start);

  .resources {
    width: 100%;
    @include flex-row($justify: space-between);

    .vr-left {
      width: 25%;
      margin: 2rem;
      @include flex-column($align: center);

      .resource-img {
        height: 15rem;
        width: 15rem;
      }

      .r-i-footer {
        width: 80%;
        @include flex-row($justify: space-between);
      }
    }

    .vr-right {
      width: 65%;
      margin: 1rem;
      @include flex-column($align: flex-start);

      .resource-info {
        padding: .5rem;
        @include flex-column($align: flex-start);

        .resource-title {
          margin-bottom: .75rem;
          font-size: x-large;
          @include emphasize;
          border-bottom: .2rem solid $color_secondary;
        }
      }

      .resource-body {
        padding: .5rem;
        @include flex-column($align: flex-start);

        .resource-description-header {
          margin-bottom: .2rem;
          font-size: large;
          @include emphasize;
          border-bottom: .2rem solid $color_secondary;
        }
      }

      .resource-user-info {
        padding: .5rem;
        @include flex-row($justify: flex-start);
        align-items: center;

        .resource-user-pfp {
          height: 3.5rem;
          width: 3.5rem;
          margin-right: .5rem;
        }
      }
    }
  }

  .vr-comments {
    width: 85%;
    margin: 1rem;
    margin-left: 5rem;
    @include flex-column($align: center);

    .vr-comments-top {
      width: 90%;
      margin-bottom: 2rem;
      border-bottom: .2rem solid $color_secondary;

      .vr-comments-header {
        font-size: x-large;
        @include emphasize();
      }
    }

    .vr-comments-bottom {
      width: 100%;
      @include flex-column($align: center);

      #vr-create-comment {
        width: 80%;
        margin-left: 1.75rem;
        padding: .3rem;
        @include flex-column($align: flex-start);
        border: $border;

        .vr-c-c-user {
          width: 20%;
          margin-bottom: 1.5rem;
          @include flex-row($justify: space-around);
          align-items: center;

          .vr-c-c-user-pfp {
            height: 4rem;
            width: 4rem;
            margin-right: 1rem;
          }

          .vr-c-c-user-name {
            @include emphasize();
          }
        }

        .vr-c-c-bottom {
          width: 90%;
          margin-left: 2rem;
          margin-bottom: .5rem;
          @include flex-column($align: flex-end);

          .vr-c-c-body {
            width: 100%;
            margin-left: 2rem;
            margin-bottom: 1.5rem;
            @include flex-column($align: flex-start);
            resize: none;
            outline: none;
            border: none;
            background-color: rgba(195, 239, 224, 0.693);
          }

          #vr-c-c-btn {
            @include flex-row($justify: center);
          }
        }
      }

      .vr-comments-posted {
        width: 90%;
        padding-inline-start: 3rem;

        .vr-comments-box {
          height: 100%;
          width: 100%;
          padding: .3rem;
          border-bottom: $border;

          .comments-user-name {
            width: 20%;
            margin: 1.5rem;
            margin-top: 1rem;
            font-size: large;
            @include emphasize();
          }

          .vr-comments-body {
            width: 90%;
            margin-bottom: 1.5rem;
            @include flex-column($align: center);
          }

          .vr-comments-date {
            @include flex-column($align: flex-end);
          }
        }

        .mui-container {
          @include border_primary;
        }
      }
    }
  }
}
